<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ican.mapper.TaskLogMapper">
    <select id="selectTaskLogCount" resultType="java.lang.Long">
        SELECT COUNT(*) from t_task_log
        <where>
            <if test="conditionQuery.keyword != null">
                AND task_name like concat('%', #{conditionQuery.keyword}, '%')
            </if>
            <if test="conditionQuery.taskGroup != null">
                AND task_group like concat('%', #{conditionQuery.taskGroup}, '%')
            </if>
            <if test="conditionQuery.status != null">
                AND status = #{conditionQuery.status}
            </if>
        </where>
    </select>

    <select id="selectTaskLogVOList" resultType="com.ican.entity.vo.TaskLogVO">
        SELECT * from t_task_log
        <where>
            <if test="conditionQuery.keyword != null">
                AND task_name like concat('%', #{conditionQuery.keyword}, '%')
            </if>
            <if test="conditionQuery.taskGroup != null">
                AND task_group like concat('%', #{conditionQuery.taskGroup}, '%')
            </if>
            <if test="conditionQuery.status != null">
                AND status = #{conditionQuery.status}
            </if>
        </where>
        ORDER BY create_time desc
        LIMIT #{limit},#{size}
    </select>
</mapper>
